{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock html_lang %}

{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock title %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock head %}

{% block content %}
    {# <h1>{{ page.title }}</h1> #}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
{% endblock content %}
