<nav id="menu" class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" id="top" href="/"><em>She <span class="text-success">Builds</span> With Code</em></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% if current_user.is_anonymous %}
        <a class="nav-item nav-link font-italic" href="{{ url_for('login')}}">Login</a>
      {% else %}
        <a class="nav-item nav-link font-italic" href="{{ url_for('logout')}}">Logout</a>
      {% endif %}
      <a class="nav-item nav-link" href="{{ url_for('index')}}">Home</a>
      <a class="nav-item nav-link" href="@TODO">About</a>
      <a class="nav-item nav-link" href="@TODO">Contact Me</a>
    </div>
  </div>
</nav><!-- /#menu -->