{% extends 'admin-base.html' %}

{% block content %}
  <div class="container pt-3"> 
    <h1>Hi, {{ user|capitalize }}!</h1>
    {% if user.last_seen %}
      <small>Last login: {{ user.last_login }}</small>
    {% endif %}
    <!-- @TODO FIX THIS LATER -->
    {# <img src="{{ user.avatar(128)}}" class="img-fluid"> #}
  </div>
  <div class="container pt-3">
    <h2>Recent Posts: </h2>
    {% for post in posts %}
      <h3>{{ post.title }}</h3>
      <p>{{ post.subtitle }}</p>
    {% endfor %}
  </div>
{% endblock %}