<!DOCTYPE html>
<html class="no-js h-100" lang="en">

<head>
  <meta charset="utf-8" />
  <title>She Builds With Code | Admin</title>
  <meta name="description"
    content="The online experiment of a web developer in training. Learning to code and sharing all the mistakes!" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

</head>

<body id="index" class="home d-flex flex-column h-100">
  <nav class="navbar navbar-light sticky-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{{ url_for('index')}}">She Builds With Code</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="row">
      {% include "includes/admin-sidebar.html" %}     
      <main id="content" class="flex-grow-1 col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
        {% block admin %}{% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

  {% include "includes/footer.html" %}

  {# Global javascript #}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>